.state {
  stroke: #000;
  stroke-width: 2px;
  stroke-linejoin: round;
}
.fake-state{
  stroke: #fff;
  stroke-width: 7px;
  stroke-linejoin: round;
}
#legendTitle {
	font-family: Consolas;
	font-size: 30px;
	font-weight: bold;
}

.legendText {
	font-family: Consolas;
	font-size: 28px;
	font-weight: bold;
}

.d3-tip p {
	color:white;
	font-family:Consolas;
	font-size:25px;
	background-color:#484848;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 9px;
	padding-top: 9px;
	border-radius: 10px;
}