svg .axis {
	font-family: Consolas;
	font-size: 18px;
}

svg .axis-label {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	word-spacing: 2px;
}

svg .linePlot {
	stroke-width: 2px;
	fill: none;
}

svg .title {
	font-size: 25px;
	font-weight: bold;
	word-spacing: 2px;
}

svg .legend text {
	font-family: Consolas;
	font-size: 18px;
	font-weight: bold;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}